# MinIO Credentials
MINIO_ROOT_USER=your_minio_user
MINIO_ROOT_PASSWORD=your_minio_password

# Kafka Configuration
KAFKA_BROKER_ID=1
KAFKA_ADVERTISED_HOST_NAME=kafka
KAFKA_ADVERTISED_PORT=9092
KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181

# Zookeeper Configuration
ZOO_MY_ID=1
